<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phoenixhell.securityuaa.mapper.RolesMenusMapper">
	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.phoenixhell.securityuaa.entity.RolesMenusEntity" id="rolesMenusMap">
        <result property="menuId" column="menu_id"/>
        <result property="roleId" column="role_id"/>
    </resultMap>
    <insert id="savePermissions" useGeneratedKeys="true" keyProperty="menuId" keyColumn="menu_id"
            parameterType="com.phoenixhell.securityuaa.entity.RolesMenusEntity">
		insert INTO
		t_user(openId, name, gender, phoneNumber)
		VALUES
		(#{openId},#{name},#{gender},#{phoneNumber})
		ON DUPLICATE KEY UPDATE
		name = #{name},
		gender = #{gender},
		phoneNumber = #{phoneNumber}
	</insert>


</mapper>